a {
    text-decoration: none;

}

.navbar {

    height: 6vh;

}

.logo {
    height: 5vh;
    width: 3vw;
    position: relative;
    top: 0px;
    left: 20px;

}

.option {
    color: white !important;
    padding-right: 5vw;
    font-size: 15px;

}